.login_content {
    min-width: 560px;
    transform: translate(-50%, -50%);
};

.login_content_mobile{
    min-width: 90%;
    transform: translate(-50%, -50%);
};

.line::before {
    content: " ";
    display: block;
    width: 100%;
    background-color: rgb(221 221 221);
    height: 1px;
    margin-right: 1rem
};
.line::after {
    content: " ";
    display: block;
    width: 100%;
    background-color: rgb(221 221 221);
    height: 1px;
    margin-left: 1rem;
};